PRESET_USERS = '[{"user_id": "1", "access_key": "123456"}, {"user_id": "2", "access_key": "654321"}]'
REDIS_DSN = 'redis://127.0.0.1:6379/0'
THREAD_COUNT = 4
PEER_CHUNK_TOKEN_NUM = 60
ESTIMATOR_COUNT = 4
